body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/159/523/non_2x/cartoon-of-dogs-in-the-park-landscape-vector.jpg);
    background-size: cover; /* Escala la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo */
}

.card-img-top {
    
}