body {
    background-image: url(https://png.pngtree.com/background/20210716/original/pngtree-cute-cartoon-dog-wallpaper-picture-image_1348618.jpg);
    background-size: cover; /* Escala la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo */
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}